<link rel="stylesheet" href="../../../css/admin.css">
<link rel="stylesheet" href="../../css/member.css">
<div style="margin-top:0px" class="bodyDetail">
    <form id="formAnnouncement" method="POST">
    
    <div class="input-container">
        <label for="title">Title:</label>
        <input value="" type="text" id="title" name="title" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>

        <button id="submitAnnouncement" type="submit">Submit</button>
    </div>
    </form>
</div>
