<link rel="stylesheet" href="../../../css/admin.css">
<link rel="stylesheet" href="../../css/member.css">
<div class="contestDetail">
    <form id="formAnnouncement" method="POST">
    
    <div class="input-container">
        <label for="name">Tên cuộc thi</label>
        <input value="" type="text" id="name" name="name" required>

        <label for="date">Ngày diễn ra</label>
        <input placeholder="Ngày 20 tháng 02 năm 2004" value="" type="text" id="date" name="date" required>

        <label for="timeTotal">Thời gian làm bài</label>
        <input placeholder="02:30:00" value="" type="text" id="timeTotal" name="timeTotal" required>

        <label for="timeStart">Thời gian bắt đầu</label>
        <input placeholder="18:30:00" value="" type="text" id="timeStart" name="timeStart" required>

        <label for="password">Password</label>
        <input placeholder="trungDzai" value="" type="text" id="password" name="password">

        <label for="date">Đề bài 1</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 2</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 3</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 4</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 5</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 6</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 7</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 8</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 9</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 10</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 11</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 12</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 13</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 14</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>
        <label for="date">Đề bài 15</label>
        <input value="Giải phương trình sau:" type="text" name="context">
        <input value="100" type="text" name="score">
        <textarea style="height:150px" name="problems"></textarea>

        <button id="submitAnnouncement" type="submit">Tạo</button>
    </div>
    </form>
</div>
