<link rel="stylesheet" href="../../../../../css/admin.css">
<link rel="stylesheet" href="../../../../../css/member.css">
<div style="margin-top: 150px;" class="bodyDetail">
    <form id="formassignment" method="POST">
    
    <div class="input-container">
        <label for="name">Họ và tên</label>
        <input value="" type="text" id="name" name="name" required>

        <label for="location">Địa chỉ</label>
        <input value="" type="text" id="location" name="location" required>

        <label for="role">Vai trò</label>
        <input value="" content="text" id="role" name="role" required>

        <label for="mail">Mail</label>
        <input value="" type="text" id="mail" name="mail" required>

        <label for="idUser">idUser</label>
        <input value="" type="text" id="idUser" name="idUser" required>

        <label for="imageFrist">Ảnh 1</label>
        <input value="" type="text" id="imageFrist" name="imageFrist" required>
        
        <label for="imageSecond">Ảnh 2</label>
        <input value="" type="text" id="imageSecond" name="imageSecond" required>

        <button id="submitassignment" type="submit">Tạo</button>
    </div>
    </form>
</div>

