<link rel="stylesheet" href="../../../css/admin.css">
<link rel="stylesheet" href="../../../css/member.css">
<div style="margin-top: 0;" class="bodyDetail">
    <form id="formtopListAssignment" method="POST">
    
    <div class="input-container">
        <label for="nameType">Tên dạng</label>
        <input value="{{topListAssignment.nameType}}" type="text" id="nameType" name="nameType" required>

        <label for="Type">Mã dạng</label>
        <input value="{{topListAssignment.Type}}" type="text" id="Type" name="Type" required>

        <button id="submittopListAssignment" type="submit">Lưu</button>
    </div>
    </form>
</div>
