<link rel="stylesheet" href="../../../css/admin.css">
<link rel="stylesheet" href="../../css/member.css">
<div style="margin-top: 0;" class="bodyDetail">
    <form id="formAnnouncement" method="POST">
    
    <div class="input-container">
        <label for="nameType">Tên dạng</label>
        <input value="" type="text" id="nameType" name="nameType" required>

        <label for="Type">Mã dạng</label>
        <input value="" type="text" id="Type" name="Type" required>

        <button id="submitAnnouncement" type="submit">Tạo</button>
    </div>
    </form>
</div>
