<link rel="stylesheet" href="/css/member.css">
<div class="result" style="height: 400px;">
    <div style="text-align: center;">
        <h2>Tài khoản này <span style="color: red;">đã bị Khóa!</span></h2><br>
    </div>
</div>