<link rel="stylesheet" href="/css/member.css">
<div class="result" style="height: 400px;">
    <div style="text-align: center;">
        <img style="width:500px; margin-bottom: 50px" src="https://imagev3.vietnamplus.vn/w1000/Uploaded/2024/ngtmbh/2022_09_04/cho_khoc.jpeg.webp" alt="">
        <h2>Xin chào <span style="color: blue;">{{username}}</span></h2><br>
        <h2>Hiện tại chưa thể đăng ký tài khoản, bạn vui lòng <a target="_blank" href="https://www.facebook.com/SolvingSystemsOfEquations" style="color: blue;">liên hệ</a> với người quản trị để đăng ký</h2>
    </div>
</div>