* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 20px; }

:root {
  --color-2: #ffffff; }

.dp-n {
  display: none; }

.dp-f {
  display: flex; }

.container {
  max-width: 2000px;
  height: 700px; }

.container .navbar {
  font-weight: 700;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2); }

.navbar {
  background-color: white; }

.container .navbar .header__nav {
  display: flex; }

.container .navbar .header__nav-item {
  padding: 15px 20px;
  text-decoration: none;
  opacity: 0.75;
  color: black;
  display: block;
  position: relative; }

.container .navbar .header__nav li {
  list-style-type: none; }

.container .navbar .header__nav-item:hover {
  cursor: pointer;
  opacity: 1; }

.container .navbar .header__nav-item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #465375;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  position: absolute;
  transition: all 0.5s ease-in-out; }

.container .navbar .header__nav-item:hover::after {
  transform: scale(1);
  width: 100%; }

.container .body {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: center; }

@media only screen and (max-width: 1023px) {
  .container .body {
    flex-direction: column; } }

.container .body .content {
  width: 70%; }

@media (min-width: 1024px) {
  .container .body .content {
    margin: 60px; } }

@media only screen and (max-width: 1023px) {
  .container .body .content {
    width: 85%;
    margin: 100px auto 0px auto; } }

@media only screen and (max-width: 739px) {
  .container .body .content {
    margin-top: 100px; } }

.container .body .content__btn {
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: #fff;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2); }

@media (min-width: 1024px) {
  .container .body .content__btn {
    position: fixed;
    top: 120px;
    left: 5%; } }

@media only screen and (max-width: 739px) {
  .container .body .content__btn {
    position: absolute;
    top: 90px; } }

@media only screen and (max-width: 1023px) {
  .container .body .content__btn {
    position: absolute;
    top: 90px; } }

.container .body .content__btn:hover {
  cursor: pointer;
  background-color: #eff4f8;
  box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.2); }

.container .body .content__main {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.container .body .content__main-title {
  font-size: 30px;
  font-weight: 500;
  padding: 20px;
  display: inline-block;
  transition: all 0.35s ease-in-out; }

.container .body .content__main-topic {
  width: 100%;
  transition: all 0.35s ease-in-out; }

.content__main-score {
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  top: 15px;
  right: 35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: lightgreen;
  transform: translate(-20px, 20px);
  position: absolute; }

.container .body .content__main-btn {
  padding: 10px;
  background-color: #4ef14e;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px;
  position: absolute;
  right: 20px;
  bottom: 20px; }

.container .body .content__main-btn:hover {
  cursor: pointer;
  background-color: #fff; }

.container .body .content__comment {
  width: 100%;
  background-color: #c0d3e4;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.container .body .content__comment-title {
  font-size: 30px;
  font-weight: 500;
  padding: 20px;
  transition: all 0.35s ease-in-out; }

.container .body .content__comment-title:hover {
  cursor: pointer;
  color: #eff4f8; }

.container .body .content .submit {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 20px 0px 0px 0px;
  width: 100%;
  position: relative; }

.container .body .content .submit__text {
  margin-bottom: 10px; }

.container .body .content .submit__avatar {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%; }

.container .body .content .submit .submit__img-style {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.container .body .content .submit .submit__img-style .submit__img-block {
  width: 25%; }

.container .body .content .submit .submit__img-style .submit__img-block .submit__img {
  cursor: pointer;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.container .body .content .submit .submit__img-style .submit__img-block .submit__img:hover {
  opacity: 0.8; }

.container .body .content .submit .submit__img-style .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1; }

.container .body .content .submit .submit__img-style .overlayImage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 30%;
  z-index: 1; }

@media only screen and (max-width: 739px) {
  .container .body .content .submit .submit__img-style .overlayImage {
    width: 50%; } }

.comment__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.comment__individual {
  width: 98%;
  height: auto;
  resize: none;
  padding: 16px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  background-color: #c0d3e4;
  border: 1px solid black;
  border-bottom: none;
  transition: all 0.35s ease-in-out; }

.comment__individual:focus {
  outline: none; }

.comment__individual:not(:-moz-placeholder-shown) + .comment__focus {
  top: -10px;
  padding: 0px 10px;
  display: inline-block;
  background-color: #c0d3e4; }

.comment__individual:not(:placeholder-shown) + .comment__focus,
.comment__individual:focus + .comment__focus {
  top: -10px;
  padding: 0px 10px;
  display: inline-block;
  background-color: #c0d3e4; }

.comment__focus {
  top: 20px;
  left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #999;
  pointer-events: none;
  position: absolute;
  transition: all 0.35s ease-in-out; }

.comment__tool {
  width: 98%;
  transform: translateY(-5px);
  height: 60px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid black;
  border-top: none;
  padding: 0px 20px;
  display: flex;
  align-items: center; }

.comment__tool-img {
  padding: 8px;
  border-radius: 50%; }

.comment__tool-img-click {
  display: none; }

.comment__tool-img:hover,
.comment__tool-send:hover {
  cursor: pointer;
  background-color: #eff4f8; }

.comment__tool-send {
  padding: 8px;
  border-radius: 50%;
  right: 20px;
  position: absolute; }

.comment__user {
  display: flex; }

.comment__user-avatar {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%;
  margin: 20px 20px 20px 0px; }

.comment__user-block {
  width: 100%;
  border-radius: 10px;
  background-color: #959bbd;
  margin: 20px 20px 20px 0px;
  padding: 10px; }

.comment__user-name {
  font-size: 25px;
  font-weight: 500; }

.comment__user-btn {
  padding: 2px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
  background-color: #959bbd; }

.comment__user-like {
  padding: 2px 6px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
  background-color: #959bbd; }

.comment__user-see,
.comment__user-nosee {
  margin: 20px 0px 10px 5px; }

.comment__user-see:hover,
.comment__user-nosee:hover,
.comment__user-like:hover {
  cursor: pointer; }

.comment__user-btn:hover {
  cursor: pointer; }

.comment__user-dots {
  position: relative;
  margin: auto -15px auto -5px;
  padding: 8px;
  color: #465375;
  border-radius: 50%; }

.comment__user-dots:hover {
  cursor: pointer;
  background-color: #eff4f8; }

.dots-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #959bbd transparent; }

.dots-list {
  position: absolute;
  width: 200px;
  top: 100%;
  left: 50%;
  background-color: #465375;
  border: 1px solid #959bbd;
  transform: translate(-40px, 14px);
  border-radius: 10px;
  overflow: hidden; }

.dots-list__item {
  color: #465375;
  padding: 7px;
  background-color: #c0d3e4; }

.dots-list__item:hover {
  cursor: pointer;
  background-color: #eff4f8; }

.reply__user-dots {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  padding: 8px;
  color: #465375;
  border-radius: 50%;
  z-index: 1; }

.reply__user-dots:hover {
  cursor: pointer;
  background-color: #eff4f8; }

.reply-dots-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #c0d3e4 transparent; }

.reply-dots-list {
  position: absolute;
  width: 200px;
  top: 100%;
  left: 50%;
  background-color: #465375;
  border: 1px solid #959bbd;
  transform: translate(-40px, 14px);
  border-radius: 10px;
  overflow: hidden; }

.reply-dots-list__item {
  color: #465375;
  padding: 7px;
  background-color: #c0d3e4; }

.reply-dots-list__item:hover {
  cursor: pointer;
  background-color: #eff4f8; }

.reply {
  display: flex;
  align-items: start; }

.reply-icon {
  margin: 20px 10px 0px 5px; }

.reply-avatar {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100%;
  margin: 20px 10px 20px 0px; }

.reply-block {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #eff4f8; }

.reply-name {
  font-size: 25px;
  font-weight: 500; }

.comment__text-reply {
  display: none;
  position: relative; }

.comment__individual-reply {
  width: 100%;
  resize: none;
  padding: 16px;
  margin-top: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: #959bbd;
  border: 1px solid black;
  border-bottom: none;
  transition: all 0.35s ease-in-out; }

.comment__individual-reply:focus {
  outline: none; }

.comment__individual-reply:not(:-moz-placeholder-shown) + .comment__focus-reply {
  transform: translateY(10px);
  padding: 0px 10px;
  display: inline-block;
  background-color: #959bbd; }

.comment__individual-reply:not(:placeholder-shown) + .comment__focus-reply,
.comment__individual-reply:focus + .comment__focus-reply {
  transform: translateY(10px);
  padding: 0px 10px;
  display: inline-block;
  background-color: #959bbd; }

.comment__focus-reply {
  transform: translateY(35px);
  left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #000000;
  pointer-events: none;
  position: absolute;
  transition: all 0.35s ease-in-out; }

.comment__tool-reply {
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  transform: translateY(-5px); }

.comment__tool-reply-img {
  padding: 8px;
  border-radius: 50%; }

.comment__tool-reply-img-click {
  display: none; }

.comment__tool-reply-send {
  right: 20px;
  padding: 8px;
  border-radius: 50%;
  position: absolute; }

.comment__tool-reply-send:hover,
.comment__tool-reply-img:hover {
  cursor: pointer;
  background-color: #eff4f8; }

img {
  display: block;
  margin: 10px auto; }

.content__main__title {
  font-weight: 700;
  color: #DE2121; }

.sideBarright__nav-click {
  background-color: #b9f0b9;
  transition: all 0.3s linear;
  color: #000 !important;
  text-align: left;
  padding-left: 70px !important; }

.sideBarright__nav-click:hover {
  background-color: #76ee76; }

.sideBarright__nav-click a {
  color: #000 !important; }

.content__main {
  padding: 15px; }

.content__main p {
  transform: translateX(15px); }

.container .body .content__btn {
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: #b9f0b9;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  cursor: pointer; }

.container .body .content__btn:hover {
  background-color: #76ee76;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); }

.like i {
  position: absolute;
  transition: all 0.3s linear;
  transform: scale(0, 0); }

.frist {
  transform: scale(1, 1) !important; }

.like span {
  padding-left: 25px; }

.like i {
  color: #000; }

h5 {
  position: relative;
  display: inline; }

h5 i {
  transition: all 0.3s linear;
  position: absolute;
  right: -35px;
  color: #ef5350;
  transform: scale(0, 0);
  cursor: pointer; }

.scoreComment {
  position: absolute;
  bottom: 0;
  left: 30px;
  display: block;
  color: #b0b0b0; }

.toast {
  position: fixed;
  bottom: 50px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transform: translateX(calc(100% + 50px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 10; }

.toast.active {
  transform: translateX(0%); }

.toast .toast-content {
  display: flex;
  align-items: center; }

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  color: #ff2626;
  font-size: 25px;
  border-radius: 50%; }

.toast-content .success {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  color: #00ff00;
  font-size: 25px;
  border-radius: 50%; }

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px; }

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666; }

.message .text.text-1 {
  font-weight: 600;
  color: #333; }

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7; }

.toast .close:hover {
  opacity: 1; }

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%; }

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4; }

.progress.active:before {
  animation: progress 5s linear forwards; }

@keyframes progress {
  100% {
    right: 100%; } }

.buttonDelete {
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: #ff8282;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.3s linear;
  padding: 10px 15px;
  cursor: pointer; }

.buttonDelete:hover {
  background-color: #ef5350; }

.confirm {
  width: 30%;
  height: 200px;
  background-color: var(--color-2);
  border-radius: 10px;
  border: 1px solid black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }

.confirm__top {
  top: 0;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 40px;
  position: absolute;
  background-color: #76EE76; }

.confirm__title {
  padding-top: 50px;
  text-align: center; }

.confirm__accept,
.confirm__reject {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s linear; }

.confirm__accept {
  background-color: #ff8282; }

.confirm__accept:hover {
  background-color: #ef5350; }

.confirm__reject {
  background-color: #76EE76; }

.confirm__reject:hover {
  background-color: #01ff01; }

.header__nav-click::after {
  transform: scale(1) !important; }

.positionAuthor {
  background-color: #465375;
  padding: 5px 10px;
  position: absolute;
  top: -120%;
  border-radius: 5px;
  color: white;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  max-width: 500px; }

h5 a {
  white-space: nowrap; }

h5 a:hover .positionAuthor {
  visibility: visible;
  opacity: 1; }

.gradientColor {
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block; }

@keyframes textclip {
  to {
    background-position: 200% center; } }
