* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto"; }

body {
  background-color: #fff; }

#error-password {
  color: red; }

#error-username {
  color: red;
  text-align: center; }

#error-email {
  color: red; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; }
  .container .form-register {
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.9);
    border-radius: 6px; }
    .container .form-register h1 {
      text-align: center;
      font-size: 35px;
      margin-bottom: 35px;
      color: white; }
    .container .form-register .form-group {
      margin-top: 10px;
      margin-bottom: 20px;
      color: white;
      display: flex; }
      .container .form-register .form-group .form-input {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid #fff;
        color: white; }
      .container .form-register .form-group .form-label {
        min-width: 140px; }
    .container .form-register .form-submit {
      text-align: center; }
      .container .form-register .form-submit .form-input-submit {
        background-color: transparent;
        border: 1px solid white;
        color: #fff;
        width: 40%;
        padding: 4px 4px;
        transition: all 0.5s; }
        .container .form-register .form-submit .form-input-submit:hover {
          opacity: 0.6;
          cursor: pointer;
          border: 1px solid #54a0ff; }

.header__nav-click::after {
  transform: scale(1) !important; }

.navbar {
  font-weight: 700;
  width: 100%;
  background-color: var(--color-2);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2); }

.header__nav {
  display: flex; }

.header__nav li {
  list-style-type: none; }

.header__nav-item {
  padding: 15px 20px;
  text-decoration: none;
  opacity: 0.75;
  color: black;
  display: block;
  position: relative; }

.header__nav-item:hover,
.header__account:hover {
  cursor: pointer;
  opacity: 1; }

.header__nav-item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #465375;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  position: absolute;
  transition: all 0.5s ease-in-out; }

.header__nav-item:hover::after {
  transform: scale(1);
  width: 100%; }
